<mat-card>
    <h2 class="alinear">Listado de Encargados</h2>
    <mat-card-header>
 <div>
   <mat-form-field hintLabel="Busqueda Encargado" appearance="fill">
    <mat-label>Buscar Encargado</mat-label>
    <input matInput #input>  
   </mat-form-field>
 </div>
    </mat-card-header>

    
    <mat-card-header>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-raised-button color="primary" (click)="openEncargadoDialog()">Agregar Encargado</button>
                </li>
            </ul>
        </div>
    </mat-card-header>

    <div mat-card-image></div>

    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-cell">

            <ng-container matColumnDef="CodEncargado">
                <th mat-header-cell *matHeaderCellDef>Codigo</th>
                <th mat-cell *matCellDef="let element">{{ element.codEncargado }}</th>
            </ng-container>

            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <th mat-cell *matCellDef="let element">{{ element.nombre }}</th>
            </ng-container>

            <ng-container matColumnDef="Apellido">
                <th mat-header-cell *matHeaderCellDef>Apellido</th>
                <th mat-cell *matCellDef="let element">{{ element.apellido }}</th>
            </ng-container>

            <ng-container matColumnDef="Edad">
                <th mat-header-cell *matHeaderCellDef>Edad</th>
                <th mat-cell *matCellDef="let element">{{ element.edad }}</th>
            </ng-container>

            <ng-container matColumnDef="Telefono">
                <th mat-header-cell *matHeaderCellDef>Telefono</th>
                <th mat-cell *matCellDef="let element">{{ element.telefono }}</th>
            </ng-container>

            <ng-container matColumnDef="Correo">
                <th mat-header-cell *matHeaderCellDef>Correo</th>
                <th mat-cell *matCellDef="let element">{{ element.correo }}</th>
            </ng-container>

            <ng-container matColumnDef="NroDocumento">
                <th mat-header-cell *matHeaderCellDef>Documento</th>
                <th mat-cell *matCellDef="let element">{{ element.nroDocumento }}</th>
            </ng-container>

            <ng-container matColumnDef="CodTipoDoc">
                <th mat-header-cell *matHeaderCellDef>Tipo de Doc</th>
                <th mat-cell *matCellDef="let element">{{element.codTipoDoc.nombreTipoDoc }}</th>
            </ng-container>

            <!--Actions-->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element; let i=index;">

                <button mat-icon-button color="accent" (click)="edit(element.codEncargado, element.nombre, element.apellido, element.telefono, element.edad, element.correo, element.codTipoDoc, element.nroDocumento)" >
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>

                <button mat-icon-button color="accent" (click)="delete(element.codEncargado)" >
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>

    </mat-card-content>

</mat-card>